{% extends 'blog/base.html' %}
{% block title %}Create Profile Page{% endblock title %}

{% block content %}



{% if user.is_authenticated%}
    <h1 class='text-white text-center '>Create Profile Page</h1>
    <style>
    h1{
        margin-bottom: 50px;
        border-bottom: 4px solid white;
         padding-bottom:48px;
    }
    </style>
    <div class="form-group text-white">
        <form method="POST" enctype="multipart/form-data">  
        {% comment %} enctype allow to acc the image  {% endcomment %}
            {% csrf_token %}
            {% comment %}   use csrf_token so the hacker cant hack the form submission{% endcomment %}
            {{form.media}}
            {% comment %} media give the text editor in body {% endcomment %}
            {{form.as_p}}
            {% comment %} {{form.as_p}} we can use as_p with ul,table ,etc {% endcomment %}
            <button class="btn btn-outline-warning " >Create Profile</button>
        </form>

    </div>
    
{% endif %}


{% endblock %}