{% extends 'blog/base.html' %}
{% block title %} CREATE CATEGORY {% endblock title %}

{% block content %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
<style>
		body,
		html {
			margin: 0;
			padding: 0;
			height: 100%;
			background: #7abecc !important;
        
		}
		@media (min-width: 1400px){
.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1320px;
	margin-top: 120px;
}	
        .mb-2{
            justify-content:center;
        }
		.user_card {
			width: 350px;
			margin-top: auto;
			margin-bottom: auto;
			background: #74cfbf;
			position: relative;
			display: flex;
			justify-content: center;
			flex-direction: column;
			padding: 10px;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			border-radius: 5px;

		}

		.form_container {
			margin-top: 20px;
		}

		#form-title{
			color: #fff;
		}
		.login_btn {
			width: 100%;
			background: #33ccff !important;
			color: white !important;
		}
		.login_btn:focus {
			box-shadow: none !important;
			outline: 0px !important;
		}
		.login_container {
			padding: 0 2rem;
		}
		.input-group-text {
			background: #f7ba5b !important;
			color: white !important;
			border: 0 !important;
			border-radius: 0.25rem 0 0 0.25rem !important;
		}
		.input_user,
		.input_pass:focus {
			box-shadow: none !important;
			outline: 0px !important;
		}

	</style>


{% if user.is_authenticated%}

<h1 class="display-1 mb5 text-white show-on-scroll show-on-scroll-ready text-center border-bottom" data-show-duration="500" data-show-distance="10" style="transform: translateY(0px); transition-duration: 500ms; opacity: 1;">ADD CATEGORY</h1>
	
<div class="container">
		<div class="d-flex justify-content-center h-100 mt-5">
			<div class="user_card">
                <form method="POST">
                        {% csrf_token %}
                    <div class="input-group mb-2">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fa fa-plus-square"></i></span>
                                </div>
                                    {{form.name}}
                    </div>
                    <button class="btn login_btn ">Category</button>
                        {% comment %} <div class="form-group mb-5 row  text-white center"  style="height:100px">
                        {% csrf_token %}
                        {% comment %}   use csrf_token so the hacker cant hack the form submission{% endcomment %}
                        {% comment %} <div class="form-control-lg "> {% endcomment %}
                        
                        {% comment %} <input {{form.as_p}}> {% endcomment %}
                        {% comment %} {{form.as_p}} 
                        </div> {% endcomment %}
                        {% comment %} {{form.as_p}} we can use as_p with ul,table ,etc {% endcomment %}
                        {% comment %} <button class="btn btn-outline-warning ">Category</button> {% endcomment %} 
                </form>
            </div>
        </div>
</div>

    {% else %}
your are not allowed here

{% endif %}
{% endblock content %}